<div class="blue-section">
  {{this.title}}
</div>
<div class="container-fluid">
  <app-stepper [step]="step"></app-stepper>
  <div class="row">
    <div class="col-xl-6 col-md-lg-8 col-md-10 col-sm-12 col-xs-12 m-auto">
      <div class="card">
        <div class="card-body">
          <div *ngIf="step === 1">
            <app-password (stepEmit)="setStep($event)"></app-password>
          </div>
          <div *ngIf="step === 2">
            <app-form (stepEmit)="setStep($event)"></app-form>
          </div>
          <div *ngIf="step === 3">
            <app-done (stepEmit)="setStep($event)"></app-done>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
