<p>Please enter the case sensitive password from your official invitation.</p>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.correct">Password is incorrect. The correct password is <b>{{correctPassword}}</b>.
        (Imagine if this was a real application, lol)
      </div>
    </div>
  </div>

  <div class="row ml-1">
    <div class="ml-auto mr-3">
      <button type="submit" style="min-width: 12rem;" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
